<?xml version="1.0"?>
<robot
  name="vanh_description">

  <link name="base_link">
  </link>

  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="-0.011069 1.7626E-05 0.040468"
        rpy="0 0 0" />
      <mass
        value="1.2884" />
      <inertia
        ixx="0.0031954"
        ixy="2.1753E-07"
        ixz="-2.4314E-06"
        iyy="0.0061634"
        iyz="-1.0229E-06"
        izz="0.0084789" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/chassis_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/chassis_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link"/>
    <origin
      xyz="0 0 0.09"
      rpy="0 0 0" />
  </joint>

  <link
    name="laser">
    <inertial>
      <origin
        xyz="-0.011935 0.00030729 -0.023703"
        rpy="0 0 0" />
      <mass
        value="0.073251" />
      <inertia
        ixx="1.8129E-05"
        ixy="-3.1353E-07"
        ixz="3.2518E-07"
        iyy="2.395E-05"
        iyz="1.0718E-08"
        izz="3.944E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 -3.14159" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.31 0.31 0.31 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.11305 -8.8769E-05 0.1345"
      rpy="0 0 3.14159" />
    <parent
      link="chassis_link" />
    <child
      link="laser" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="left_camera_link">
    <inertial>
      <origin
        xyz="-0.011101 -0.0048656 -0.0023316"
        rpy="0 0 0" />
      <mass
        value="0.0043213" />
      <inertia
        ixx="6.3667E-07"
        ixy="-6.6725E-08"
        ixz="-3.0464E-08"
        iyy="2.5826E-07"
        iyz="-7.5648E-08"
        izz="5.772E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/left_camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.31 0.31 0.31 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/left_camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_camera_joint"
    type="fixed">
    <origin
      xyz="0.18653 0.02985 0.09735"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="left_camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_camera_link">
    <inertial>
      <origin
        xyz="-0.011105 0.0048562 -0.0023281"
        rpy="0 0 0" />
      <mass
        value="0.0043257" />
      <inertia
        ixx="6.3838E-07"
        ixy="6.6654E-08"
        ixz="-3.0413E-08"
        iyy="2.5786E-07"
        iyz="7.4392E-08"
        izz="5.7943E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/right_camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.31 0.31 0.31 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/right_camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_camera_joint"
    type="fixed">
    <origin
      xyz="0.18653 -0.03025 0.09735"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="right_camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_left_link_1">
    <inertial>
      <origin
        xyz="0.010593 0.0010146 -0.0097248"
        rpy="0 0 0" />
      <mass
        value="0.11072" />
      <inertia
        ixx="2.8628E-05"
        ixy="-5.7106E-08"
        ixz="-2.8797E-07"
        iyy="3.4817E-05"
        iyz="1.6473E-08"
        izz="2.6351E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_left_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84 0.84 0.84 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_left_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_joint_1"
    type="revolute">
    <origin
      xyz="0.113790303006481 0.0824500000000011 0.0459074375810237"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="front_left_link_1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="front_left_link_2">
    <inertial>
      <origin
        xyz="-0.038793 -9.9179E-05 -0.020372"
        rpy="0 0 0" />
      <mass
        value="0.065244" />
      <inertia
        ixx="2.6533E-05"
        ixy="-4.5912E-07"
        ixz="-4.006E-05"
        iyy="0.00010708"
        iyz="-2.3906E-07"
        izz="8.1711E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_left_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_left_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_joint_2"
    type="revolute">
    <origin
      xyz="0 0.0392977405875036 0.000624999999999681"
      rpy="0 0 0" />
    <parent
      link="front_left_link_1" />
    <child
      link="front_left_link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="front_left_link_3">
    <inertial>
      <origin
        xyz="0.050353 -3.9729E-06 -0.029856"
        rpy="0 0 0" />
      <mass
        value="0.052056" />
      <inertia
        ixx="3.3321E-05"
        ixy="-1.6828E-08"
        ixz="4.2839E-05"
        iyy="9.7025E-05"
        iyz="1.0572E-08"
        izz="6.6763E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_left_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.45 0.03 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_left_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_joint_3"
    type="revolute">
    <origin
      xyz="-0.0969291533452496 0 -0.0509410368148619"
      rpy="0 0 0" />
    <parent
      link="front_left_link_2" />
    <child
      link="front_left_link_3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="back_left_link_1">
    <inertial>
      <origin
        xyz="0.010313 0.0010131 -0.0097248"
        rpy="0 0 0" />
      <mass
        value="0.11072" />
      <inertia
        ixx="2.8628E-05"
        ixy="5.7055E-08"
        ixz="2.8791E-07"
        iyy="3.4817E-05"
        iyz="6.7429E-09"
        izz="2.6351E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_left_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84 0.84 0.84 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_left_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_joint_1"
    type="revolute">
    <origin
      xyz="-0.134705178168527 0.082750000000001 0.0459074375810237"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="back_left_link_1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="back_left_link_2">
    <inertial>
      <origin
        xyz="-0.038793 -9.9179E-05 -0.020372"
        rpy="0 0 0" />
      <mass
        value="0.065244" />
      <inertia
        ixx="2.6533E-05"
        ixy="-4.5912E-07"
        ixz="-4.006E-05"
        iyy="0.00010708"
        iyz="-2.3906E-07"
        izz="8.1711E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_left_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_left_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_joint_2"
    type="revolute">
    <origin
      xyz="0 0.0392977405875036 0.000624999999999577"
      rpy="0 0 0" />
    <parent
      link="back_left_link_1" />
    <child
      link="back_left_link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="back_left_link_3">
    <inertial>
      <origin
        xyz="0.050353 -3.9716E-06 -0.029856"
        rpy="0 0 0" />
      <mass
        value="0.052056" />
      <inertia
        ixx="3.3321E-05"
        ixy="-1.6829E-08"
        ixz="4.2839E-05"
        iyy="9.7025E-05"
        iyz="1.0574E-08"
        izz="6.6763E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_left_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.45 0.03 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_left_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_joint_3"
    type="revolute">
    <origin
      xyz="-0.0969291533452496 0 -0.0509410368148617"
      rpy="0 0 0" />
    <parent
      link="back_left_link_2" />
    <child
      link="back_left_link_3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="back_right_link_1">
    <inertial>
      <origin
        xyz="0.010313 -0.0010146 -0.0097248"
        rpy="0 0 0" />
      <mass
        value="0.11072" />
      <inertia
        ixx="2.8628E-05"
        ixy="-5.7106E-08"
        ixz="2.8797E-07"
        iyy="3.4817E-05"
        iyz="-1.6473E-08"
        izz="2.6351E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_right_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84 0.84 0.84 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_right_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_joint_1"
    type="revolute">
    <origin
      xyz="-0.134705178168499 -0.0824499999999989 0.0459074375810237"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="back_right_link_1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="back_right_link_2">
    <inertial>
      <origin
        xyz="-0.036578 9.918E-05 -0.024124"
        rpy="0 0 0" />
      <mass
        value="0.065244" />
      <inertia
        ixx="3.4942E-05"
        ixy="4.3112E-07"
        ixz="-4.47E-05"
        iyy="0.00010708"
        iyz="2.865E-07"
        izz="7.3303E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_right_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_right_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_joint_2"
    type="revolute">
    <origin
      xyz="0 -0.0392977405875037 0.000625000000000271"
      rpy="0 0 0" />
    <parent
      link="back_right_link_1" />
    <child
      link="back_right_link_2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="back_right_link_3">
    <inertial>
      <origin
        xyz="0.049996 3.8133E-06 -0.030454"
        rpy="0 0 0" />
      <mass
        value="0.05206" />
      <inertia
        ixx="3.4348E-05"
        ixy="1.6901E-08"
        ixz="4.3227E-05"
        iyy="9.7031E-05"
        iyz="-1.1029E-08"
        izz="6.5743E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_right_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.45 0.03 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/back_right_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_joint_3"
    type="revolute">
    <origin
      xyz="-0.0914299430637917 0 -0.0602562639263631"
      rpy="0 0 0" />
    <parent
      link="back_right_link_2" />
    <child
      link="back_right_link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="front_right_link_1">
    <inertial>
      <origin
        xyz="-0.002508 -0.00073702 -0.0098248"
        rpy="0 0 0" />
      <mass
        value="0.14335" />
      <inertia
        ixx="3.4309E-05"
        ixy="5.864E-08"
        ixz="-3.6283E-07"
        iyy="4.373E-05"
        iyz="6.3031E-08"
        izz="3.1707E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_right_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.84 0.84 0.84 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_right_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_joint_1"
    type="revolute">
    <origin
      xyz="0.113790303006509 -0.0827499999999989 0.0459074375810237"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="front_right_link_1" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="front_right_link_2">
    <inertial>
      <origin
        xyz="-0.036578 9.918E-05 -0.024124"
        rpy="0 0 0" />
      <mass
        value="0.065244" />
      <inertia
        ixx="3.4942E-05"
        ixy="4.3112E-07"
        ixz="-4.47E-05"
        iyy="0.00010708"
        iyz="2.865E-07"
        izz="7.3303E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_right_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_right_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_joint_2"
    type="revolute">
    <origin
      xyz="0 -0.0392977405875038 0.000624999999999792"
      rpy="0 0 0" />
    <parent
      link="front_right_link_1" />
    <child
      link="front_right_link_2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="front_right_link_3">
    <inertial>
      <origin
        xyz="0.049996 3.8101E-06 -0.030454"
        rpy="0 0 0" />
      <mass
        value="0.05206" />
      <inertia
        ixx="3.4348E-05"
        ixy="1.6904E-08"
        ixz="4.3227E-05"
        iyy="9.7031E-05"
        iyz="-1.1033E-08"
        izz="6.5743E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_right_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.45 0.03 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/front_right_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_joint_3"
    type="revolute">
    <origin
      xyz="-0.0914299430637918 0 -0.0602562639263629"
      rpy="0 0 0" />
    <parent
      link="front_right_link_2" />
    <child
      link="front_right_link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="1000"
      velocity="100" />
  </joint>
  <link
    name="lid_link">
    <inertial>
      <origin
        xyz="0.069069 -2.7518E-10 -0.0036319"
        rpy="0 0 0" />
      <mass
        value="0.47342" />
      <inertia
        ixx="0.0012829"
        ixy="1.0139E-11"
        ixz="-3.115E-06"
        iyy="0.0014434"
        iyz="1.6249E-12"
        izz="0.0026737" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/lid_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.45 0.03 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vanh_description/meshes/lid_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lid_joint"
    type="fixed">
    <origin
      xyz="0.01 0 0.1"
      rpy="0 0 0" />
    <parent
      link="chassis_link" />
    <child
      link="lid_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
